/*  Añadir los estilos necesarios para que la página web se muestre como en la imagen
    Estilos a aplicar a repartir entre los diferentes selectores (se pueden utilizar otros)
		stryles { 
		    background-color: #234E54; ++
			background-color: #234E54; ++
			background-color: #ACA759; ++
			background-color: #ACA759; ++
			background-color: #CEA885; ++
			background-color: #CEA885; ++
			background-color: #755E8B; ++
			background-color: #FF9; ++
			color: #442A5D; ++
			font-family: Verdana, Geneva, sans-serif; ++
			font-size: 0.85em; ++
			font-weight: bold; ++
			font-style: italic; ++
			list-style-type: square; ++
			margin-left: 10%; ++
			margin-right: 10%; ++
			text-decoration: underline; ++
			border: thin dotted #AC8159; ++
		} */

li[id] {
    color: rgb(163, 0, 214);
    font-family: Verdana, Geneva, sans-serif;
    font-size: 0.85em;
    list-style-type: square;
}

    table tr td[colspan="2"] { background-color: #234E54 }

    table tr td[rowspan="2"] { background-color: #234E54 }

    table tr td[colspan="3"] { background-color: #ACA759 }

    table tr td[rowspan="3"] { background-color: #ACA759 }

    table tr td[colspan="4"] { background-color: #CEA885 }

    table tr td[rowspan="4"] { background-color: #CEA885 }

    .negrita { font-weight: bold }

    li[id] > .negrita { background-color: #FF9 }

    .comentarios {
		font-style: italic;
        border: thin dotted #AC8159;
        margin-left: 10%;   
        margin-right: 10%;
    }

    p + p { text-decoration: underline }

    li > a { background-color: #755E8B }

    .cursiva { font-style: italic }