
#container {
    background-color: rgb(173, 216, 230);
    display: grid;
    grid-auto-flow: column;
    grid-template-rows: repeat(2, 9rem);
    grid-template-columns: repeat(6, 2.5rem);
    grid-auto-columns: 6rem;
    grid-gap: 0.5rem;
}

.box {
    background-color: rgb(0, 0, 139);
    color: white;
}