
.box {
	background-color: #444;
	color: #fff;
	border-radius: 5px;
	padding: 1em;
	font-size: 150%;	
}

.wrapper {
	display: grid;
	gap: 0.25em;
	grid-template-columns: repeat(2, 9rem 6rem);
	grid-template-rows: repeat(3, minmax(6rem, auto));
	grid-auto-flow: row;
	background-color: #fff;
	color: #444;
	margin: 2.5rem;
}

.box .box {
	background-color: #ccc;
	color: #444;
}

.a {
	grid-column-start: 1;
	grid-column-end: 3;
}

.b {
	grid-column-start: 4;
	grid-column-end: 5;
}

.c {
	grid-row-start: 2;
	grid-row-end: 4;
}

.d {
	grid-row-start: 3;
	grid-column-start: 3;
}

.e {
	grid-column-start: 2;
	grid-column-end: 5;
}

.f {
	grid-column-start: 4;
}