
marquee { height: 100vh; }

img { animation: changeColor 12s infinite; }

@keyframes changeColor {
    0% { background-color: red; }
    20% { background-color: yellow; }
    40% { background-color: green; }
    60% { background-color: aqua; }
    80% { background-color: blue; }
    100% { background-color: blueviolet; }
}
