div {
    box-sizing: border-box;
}
.row {
    border: 10px solid black;
    padding: 1em;
    margin: 0.5em;
    text-align: center;
    /* Alex */
    display: grid;
    grid-gap: 0.5rem;
}
.element {
    border: 10px solid green;
	padding: 0.5em;
}
.image {
    border: 10px solid blue;
    padding: 0.5em;
    margin: 0.5em;
}
.text {
    border: 10px solid red;
    padding: 0.5em;
    margin: 0.5em;
}

/* ALEX */
@media screen and (min-width: 768px) {
    
    .row {
        grid-template-columns: repeat(2, 1fr);
    }

    .image, .text { color:  blue; }

}

@media screen and (min-width: 1024px) {
    
    .row {
        grid-template-columns: repeat(3, 1fr);
    }

    .image, .text { color:  green; }

}

@media screen and (min-width: 1200px) {
    
    .row {
        grid-template-columns: repeat(6, 1fr);
    }

    .image, .text { color:  red; }

}
